@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 36 76% 64%;
    --primary-foreground: 0 0% 100%;

    --secondary: 16 54% 63%;
    --secondary-foreground: 0 0% 100%;

    --muted: 120 7% 58%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 48 100% 97%;
    --accent-foreground: 36 76% 64%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 36 76% 64%;
    --input: 36 76% 64%;
    --ring: 36 76% 64%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-cormorant), serif;
  }
}

html {
  scroll-behavior: smooth;
}

.flower-animation {
  animation: sway 6s ease-in-out infinite;
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

